<div class="mainDiv">
    <label for="fileInput" class="custom-file-label">読み込みファイルを選択</label>
    <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".xlsx" style="display: none;">

    <!-- fileContentに値が入ったら(Excelファイルを読み込んだら)表示-->
    <button *ngIf="showSaveButton" class="button" (click)="saveToFile()">save</button>
    <div *ngIf="showSaveButton" >
        <p> 並盛: {{ countMaru() }} 食</p>
        <p> 大盛: {{ countDaiMaru() }} 食</p>
        <p> 注文無し: {{ countbatsu() }} 食</p>
        <p> 金額: ￥ {{ (countMaru() + countDaiMaru())  * 350}}</p>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>

                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let row of fileContent; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td *ngFor="let cell of row; let j = index;" (click)="startEditingCell(i, j)">
                            <ng-container *ngIf="editingCell.row !== i || editingCell.col !== j; else editCell">                         
                                {{ cell || ' ' }} <!-- セルが空の場合はスペースを表示 -->
                            </ng-container>
                            <ng-template #editCell>
                                <!-- <input [(ngModel)]="cellValues[i][j]" (blur)="endEditingCell()"> -->
                                <select [(ngModel)]="cellValues[i][j]" (blur)="endEditingCell()">
                                    <option value="〇">〇</option>
                                    <option value="◎">◎</option>
                                    <option value="✖">✖</option>
                                    <option value=" ">未記入</option>
                                </select>
                            </ng-template>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>