
    <body class="body">
        <div class="homeber">
            <span class="button" [class.active]="isButtonActive('Excel')" (click)="Button1Click()">Excel</span>
            <span class="button" [class.active]="isButtonActive('database')" (click)="Button2Click()">database</span>
            <span class="button" [class.active]="isButtonActive('graph')" (click)="Button3Click()">graph</span>
            <span class="button" [class.active]="isButtonActive('home')" (click)="HomeButtonClick()">Home</span>
            <button class="dialogButton" mat-button (click)="openDialog()">dialog</button>
        </div>    
    </body>
