.mainDiv {
    background-color: #f1fcc0;
}

/* ファイル選択ボタンのスタイル */
.custom-file-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* ファイル選択ボタンのホバー時のスタイル */
.custom-file-label:hover {
    background-color: #0056b3;
}